/* *{
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
}

.part-image img {
height: 300px;
width: 220px;
}
.part-name p{
font-size: 30px;
font-weight: bolder;

} */